body {
    font-family: Arial, sans-serif;
    font-size: small;
    background-color: #363636;
    padding: 20px;
    color: white;

}

button {
    margin-top: 10px;
    cursor: pointer;
}

.chart{
    margin: 40px 20px;
}

